<% cache message do %>
  <div class="row mt-3" id="message-<%= message.id %>">
    <div class="col-md-1">
      <div class="message-avatar mb-2">
        <i class="iconly-0287-user"></i>
      </div>
    </div>
    <div class="col-md-9">
      <div id="message-show-<%= message.id %>">
        <%= render 'messages/contents', message: message %>
      </div>

      <div id="message-edit-<%= message.id %>"></div>
    </div>
  </div>
<% end %>
