<div class="row mt-3" id="message-form-wrp">
  <div class="col-md-1">
    <div class="message-avatar">
      <i class="iconly-0287-user"></i>
    </div>
  </div>
  <div class="col-md-9">
    <%= render("form", card: card, message: message, path: path) %>
  </div>
</div>
