<%= bootstrap_form_for user do |form| %>
  <%= form.text_field :email, type: 'email' %>
  <%= form.password_field :password %>
  <div class="mt-4">
    <%= form.submit class: 'btn btn-block btn-primary' %>
  </div>
<% end %>
