<span class="inline-block mt-1 mr-2" id="card-mini-checklist-<%= checklist.id %>">
  <i class="iconly-0922-check-square"></i>
  <span class="text-muted" id="card-mini-checklist-<%= checklist.id %>-progress"><%= checklist.progress_display %></span>
</span>
